/* CSS style sheet, is linked to the html page you want to style */
/* The CSS modifys the HTML */

/* the most basic 'selectors' for CSS use html elements names to assign styles to those elements */
/* here "html body" HTML DOM element name, is used to indicate that the main html body will be modified by the styles listed below it */
html body {
    background-color: white;
    color: red;
}

/* text - colour and font */

h1 {
	font-style: Arial;
	font-size: 40pt;
	color: green;
	background-color: grey;
	padding-left: 20px;
}

h3 {

}

p {
	color: blue;
}


/*  lists */


/*  divs */

.myBlueBox {
	background-color: blue;
	padding: 50px;
	width: 200px;
}

div {
	
}